$IMCCONFIG

# IMC2 Freedom CL-2.1 SmaugFUSS 1.8 config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      TimesLost
Autoconnect    1
MinPlayerLevel 10
MinImmLevel    51
AdminLevel     63
Implevel       65
InfoName       Times Lost
InfoHost       timeslost.duckdns.org
InfoPort       3000
InfoEmail      ixliam1@gmail.com
InfoWWW        http://reddit.com/r/wotlmud
InfoBase       SmaugFUSS 1.9
InfoDetails    Test Port

# Your router connection information goes here.
# This information should be available from the network you plan to join.

# This is the only one I know of currently
ServerAddr     97.107.133.86
ServerPort     8888
ClientPwd      1508261505
ServerPwd      serverpassword
SHA256         1
End

$END
